# Environnements virtuels
venv/
.env/

# Fichiers compilés Python
__pycache__/
*.pyc
*.pyo

# IDE / éditeurs
.vscode/
.idea/
venv/
venv311/
data/
cleaned_data/
JSONL\darkgram_cti.jsonl
__pycache__/
*.pyc
src/.env
